@import "variables";

.topnav {
	background: $nav-bg-color;
	border-bottom: 1px solid $border-color;
}

.topnav a {
	display: block;
	padding: 10px 16px;
	text-decoration: none;
	font-weight: bold;
}

.topnav a:not(:first-child):not(.icon) {
	display: none;
}

.topnav .icon {
	position: absolute;
	top: 0px;
	right: 0px;
}

.topnav.responsive a:not(:first-child):not(.icon) {
	display: block;
}

.topnav a:hover {
	background-color: $hover-bg-color;
}

.navbar-selected {
	border: none;
}

@media (min-width: 768px) {
	.navbar-selected {
		border-bottom: 1px solid;
	}

	.topnav {
		display: flex;
	}

	.topnav a:not(:first-child):not(.icon) {
		display: block;
	}

	.topnav .icon {
		display: none;
	}
}
