$background-color: #0d1117; 
$heading-color: white;
$text-color: rgba(224,235,247,0.8);
$link-color: #28d9f2;
$hover-bg-color: rgba(#28d9f2,0.2);
$nav-bg-color: #161b22;
$border-color: #30363d;

//$background-color: white; 
//$heading-color: black;
//$text-color: black;
//$link-color: darkblue;
//$hover-color: #f1f1f1;
//$border-color: rgba(34,36,38,.15);
//$box-color: rgba(0,0,255,.1);
