$background-color: #191927; 
$heading-color: white;
$text-color: rgba(224,235,247,0.975);
$link-color: #28d9f2;
$hover-color: hsla(0,0%,100%,0.05);
$border-color: rgba(224,235,247,0.075);
$box-color: rgba(224,235,247,0.075);

//$background-color: white; 
//$heading-color: black;
//$text-color: black;
//$link-color: darkblue;
//$hover-color: #f1f1f1;
//$border-color: rgba(34,36,38,.15);
//$box-color: rgba(0,0,255,.1);
