@charset "utf-8";

@import "navbar";

* {
	font-family: "Computer Modern Serif";
}

html {
	font-size: 16px;
}

body {
	margin: 0px;
}

a {
	text-decoration: inherit;
	color: darkblue;
}

a:hover {
	background-color: #F1F1F1;
}

.katex {
	font-size: 1rem;
}

.title {
	border-bottom: 1px solid rgba(34,36,38,.15);
	margin-bottom: 0px;
}

h1 {
	font-size: 1.33rem;
}

h2 {
	font-size: 1.17rem;
}

h3 {
	font-size: 1rem;
}

.image-center {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: center;
	margin: 0px 8px 0px 8px;
}

ul {
	padding-left: 20px;
}

.container {
	width: 100%;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-toc {
	border-bottom: 1px solid rgba(34,36,38,.15);
	padding: 0px 8px 0px 8px;
	margin: 0px 15px 0px 0px;
}

@media (min-width: 768px) {
	.container {
		width: 90%;
	}

	.flex-container {
		flex-direction: row;
	}

	.flex-toc {
		flex: 0.6;
		align-self: flex-start;
		position: -webkit-sticky;
		position: sticky;
		top: 5px;
		height: 99vh;
		overflow: scroll;
	}

	.flex-body {
		flex: 2;
	}

	.flex-toc {
		border-right: 1px solid rgba(34,36,38,.15);
		border-top: none;
		border-bottom: none;
	}
}
