@charset "utf-8";

@import "variables";
@import "navbar";
@import "accordian";

html {
	font-family: "Computer Modern Sans";
	background: $background-color;
	color: $text-color;
}

pre {
	padding: 16px;
}

code {
	font-family: "Computer Modern Typewriter";
}

html {
	font-size: 16px;
}

body {
	margin: 0px;
}

a {
	text-decoration: inherit;
	color: $link-color;
}

a:hover {
	background-color: $hover-bg-color;
}

.katex {
	font-size: 1rem;
}

.title {
	border-bottom: 1px solid $border-color;
	margin-bottom: 0px;
}

h1 {
	color: $heading-color;
	font-size: 1.33rem;
}

h2 {
	color: $heading-color;
	font-size: 1.17rem;
}

h3, h4 {
	color: $heading-color;
	font-size: 1rem;
}

.image-center {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	justify-content: center;
	margin: 0px 8px 0px 8px;
}

ul {
	padding-left: 20px;
}

.container {
	width: 98%;
}

.flex-container {
	display: flex;
	flex-direction: column;
}

.flex-toc {
	border-bottom: 1px solid $border-color;
	padding: 0px 8px 0px 8px;
	margin: 0px 15px 0px 0px;
}

.flex-toc a {
	display: inline-block;
	vertical-align: text-top;
	width: 100%;
}

@media (min-width: 768px) {
	.container {
		width: 90%;
	}

	.flex-container {
		flex-direction: row;
	}

	.flex-toc {
		flex: 0.6;
		align-self: flex-start;
		position: -webkit-sticky;
		position: sticky;
		top: 5px;
		height: 99vh;
		overflow: scroll;
	}

	.flex-body {
		flex: 2;
	}

	.flex-toc {
		border-right: 1px solid $border-color;
		border-top: none;
		border-bottom: none;
	}
}
