{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<br>

<div class="cards">
  <div class="card">
    <a href="google.com">git-repo</a>
    <a href="google.com">live-demo</a>
    <h3>Heading-place</h3>
    <p>Placeholder content with gibberish with no meaning.</p>
  </div>
  <div class="card">
    <h3>Heading-place</h3>
    <p>Placeholder content with gibberish with no meaning.</p>
  </div>
  <div class="card">
    <h3>Heading-place</h3>
    <p>Placeholder content with gibberish with no meaning.</p>
  </div>
</div>
{% endblock content %}
